
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}


.title_div{
   
    padding: 0px 30px;
    z-index: 100000;
}

.container{
    width: 100vw;
    min-height: 50vh;
    z-index: 100000;
    background-color: rgba(255,255,255, 0.4);
    position: relative;
    top: -20px;
    padding: 20px;
    padding-top: 80px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 20px;
    margin-bottom: 40px ;
}


.goBack_btn{
    border: none;
    background-color: rgba(255,255,255, 0.5);
    position: absolute;
    top: 15px;
    left: 30px;
    width: 100px;
    height: 50px;




    /*border: 3px solid red;*/
    
}

.icon{
    font-size: 1.2rem;
}


.title{
    position: relative;
    left: 15px;
}

.loading_spinner_div{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.spinner_icon{
    font-size: 3rem;
}

.order_div{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 20px 0px;
}

.order_title_div{
    margin: 10px 0px;
    height: 50px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid grey;

}

.order_title_div p{
    font-size: 1rem;
    margin: 0 5px;
}

.product_li{
    display: flex;
    margin: 30px 0px;
    
}
.image{
    border-radius: 50%;
    margin: 0px 20px;
}

.noOrdersMade_info{
    padding: 0px 30px;
    display: flex;
    color: var(--font-hover-purple);
    justify-content: center;
}

@media screen and (max-width: 600px){
    .container{
        width: 100vw;
    }

    .title{
        left: -5px;
    }

    .goBack_btn{
        width: 50px;
        top: 10px;  
        left: 30px; 
    }


    .title_div{
        margin-top: 30px;
    }


 

   
}