
.container{
    min-height: 75vh;
    padding: 0;
}


.userInformation_div{
    min-height: 90vh;
    background-color: var(--white_opaque);
    padding: 10px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.title{
    z-index: 1000;
    color: var(--font-beige);
}


.login_link{
    color: var(--font-hover-purple);
    text-decoration: none;
    margin: 0px 5px;
}


.background_video{
    z-index: 100;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}


.flex{
    display: flex;
    z-index: 10000;
    width: 100%;
    justify-content: center;
}


.profile_table{
    height: 100%;
    margin: 0px 10px;
}

.profile_table li{
    height: 60px;
    position: relative;
    left: -20px;
    margin:15px 5px;
    text-decoration: none;
    display: flex;
    background: rgba(255,255,255, 0.5);
    align-items: center;
    width: 400px;
    z-index: 1000;
    transition: 0.2s ease;
    border-radius: 4px;
}

.profile_table li:hover{
    cursor: pointer;
    transform: scale(1.1);
}



.icon{
    font-size: 1.2rem;
    margin: 0 8px;
    margin: 0px 10px;
    width: 20px;
    color: grey;
}

.profile_table li:hover .icon{
    color:  rgba(0,0,0,0.6)
}

.Link{
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.profile_table li:hover .Link {
    color: var(--font-hover-purple-secondary);
}


.logout_btn{
    border: 2px solid red;
    width: 100px;
    font-size: 1.1rem;
    background: transparent;
    border: none;
    transition: 0.2s ease;
}

.logout_btn:hover{
    color: var(--font-hover-purple-secondary);
}


@media screen and (max-width: 600px){

    
    .title{
        margin: 20px;
        position:fixed;
        top:150px;
        z-index: 10000;
        background: rgba(255,255,255, 0.1);
        padding: 3px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }



    .userInformation_div{
        margin: 0;
        padding: 0;
        
    }

    .flex_div{
        width: 100%;
    }


    .flex{
        flex-direction: column;
        z-index: 1000;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
      
    }


    .profile_table li{
        left: 0;
        width: 100%;
        margin: 15px 0px;
        padding: 0;
    }

    .Link{
        font-size: 1.5rem;

    }

    .profile_table{
        z-index: 10000;
        margin: 0;
        position: relative;
        width: 80%;
        left: 0;
        padding: 20px 0px;
    }

    .background_video{
        margin: 20px 0px;
    }
}