

.headerContainer{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 95vw;
 

}

.btn_div{
    display: flex;
    width: 200px;
    justify-content: center;
    
}

.close_btn, .reload_btn{
    border: none;
    margin: 0px 3px;
    width: 80px;
    cursor: pointer;
    font-size: 1.4rem;
    background-color: transparent;
    transition: 0.2s ease;
}


.close_btn:hover, .reload_btn:hover{
     color: var(--font-hover-purple-secondary);
}

.close_btn:active, .reload_btn:active{
   transform: scale(0.9)
}


.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.title{
    color: var(--font-hover-purple-secondary);
    position: relative;
    left: 5px;
}

.productsContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
   
}

.productContainer{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0px 10px;
    border: 2px solid transparent;
}

.duplicate{
    border: 2px solid var(--font-hover-purple)
   
}

.duplicate_info{
    position: absolute;
    top: -26px;
    
    color: var(--font-hover-purple-secondary);
    font-size: 1.6rem;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.selectedProduct{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0px 10px;
    
}

.selectedProduct::after{
    content: 'ADDED';
    letter-spacing: 1px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 239, 240, 0.6);
    color: var(--font-hover-purple-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}


.products_info{
    margin: 0px 5px;
    color: var(--font-hover-purple);
    width: 50vw;
    height: 50px;
    display: flex;
    align-items: center;
}


.removedProduct{
    display: none;
}

.product{
    width: 200px;
    height: 200px;
}

.addProductBtn, .likeProductsBtn{
    border: none;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255, 0.75);
    font-size: 1.5rem;
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0;
    margin: 0;
}

.removeProductBtn{
    border: none;
    width: 25px;
    height: 25px;
    background-color: transparent;
    font-size: 1.5rem;
    color.: rgba(171, 183, 183);
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.removeProductBtn:hover{
    transition: 0.2s ease;
    color: lightblue;
}

.addProductBtn:hover{
    transition: 0.2s ease;
    color: purple;
    cursor: pointer;
}



.likeProductsBtn{
    right: 43px;
    bottom: 5px;
    background-color: transparent;
    margin: 0 5px;
    cursor: pointer;
    
}

.icon{
    font-size: 1.2rem;  
}

.heart{
    font-size: 1.4rem;
    transition: 0.2s ease;
}

.heart:hover{
    color: var(--font-hover-purple-secondary);
}


@media screen and (max-width: 1330px){


    .wrapper{
        justify-content: start;
        align-items: start;

    }

    .productsContainer{
        grid-template-columns: repeat(3, 0.5fr);
        width: 100vw;
        margin: 0;
        padding: 0;

    }

    .productContainer{
        margin: 20px;
        padding: 0;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .product{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media screen and (max-width: 600px){
    .productsContainer{
        grid-template-columns: repeat(2, 0.5fr);
        /*display: flex;
        flex-direction: column;
        align-items: center;*/
      
        margin: 0;
        padding: 0;
        width: 98vw;
        
    }

    .productContainer{
        margin: 10px 5px;
        height: 150px;
        width: 150px;
        position: relative;
        left: 15px;
    }

    .headerContainer h2{
        font-size: 1rem;
        margin: 0;
        display: flex;
        align-items: center;

    }

    .btn_div{
        width: 100px;
    }
   
    
    
}

@media screen and (max-width: 300px){

.products_info{
    text-align: center;
    position: relative;
    top: 20px;
    height: 40px;
    width: 90vw;
   
}


    .productContainer{
        width: 100px;
        height: 100px;
    }
}