

.cartFieldContainer{
    display: flex;
    width: 100vw;
    margin-bottom: 40px;
    position: relative;
    overflow: auto;
    
}




.cartField{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8E6E9;
    min-height: 25vh;
}

.cartItemContainer{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    width: 50vw;
    margin: 20px;
    height: 205px;
    display: flex;
    justify-content: space-evenly;
}

.emptyCartInfoContainer{
    width: 100%;
}

.emptyCartInfo{
    position: relative;
    left: 10px;
}

.cartItemInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartItemTitle{
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.cartItemTitle p{
    margin: 0px 3px;
}

.cartItemTotal{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}



.cartItemEdit{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    border-top: 1px solid grey;
    margin-top: 10px;
}


.counter, .cartItemDelete{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.counter button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.counter p{
    margin: 0px 10px;
}


.checkoutField{
    width: 30%;
    height: 300px;
    display: flex;
    position: fixed;
    z-index: 100;
    right: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: rgba(255, 255, 255, 0.5);
}

.checkoutBtnContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.checkoutBtn{
    border: none;
    background-color: transparent;
    width: 100px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #AA7BC3
}

.totalPrice{
    color: grey;
}

.loginInfoContainer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.loginInfoContainer p{
    font-size: 1.2rem;
    color: #AA7BC3;
    font-weight: bolder;
    letter-spacing: 1px;
}

.link{
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-left: 5px;
    font-weight: normal;
    letter-spacing: 0px;
}












.logonWrapper{
    overflow: auto;
    height: 100vh;
}


.logonContainer{
    display: flex;
    width: 100vw;
   justify-content: space-evenly;
   overflow: auto;
   z-index: 1000;
}

.newsletterContainer{
    padding-bottom: 80px;
}
