

.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E2DADB;

}

.container h1{
    font-size: 1.5rem;
}

.container p{
    font-size: 1rem;
}


.link{
    color: maroon;
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 10px 5px;
    text-decoration: none;
    transition: 0.2s ease;
}

.link:hover{
    color: orange;
}