

.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E2DADB;
}

.link{
    color: darkblue;
    font-size: 1.3rem;
    margin-top: 10px;
}