body{
  background-image: url('/images/bokeh.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 100vh;
}



:root{
  --main-bg: #F9E7E7;
  --white_opaque: rgba(255,255,255, 0.3);
  --font-purple-dark: rgba(90, 34, 139, 1);
  --font-hover-purple: rgba(213, 184, 255, 1);
  --font-hover-purple-secondary: rgba(159,90,253,1);
  --font-beige: rgba(237, 231, 225, 1);
}
.counterField, .adressBookField{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counterField p{
  font-size: 2rem;
}

.actionBtnField button{
  margin: 0px 10px;
}

.actionBtnField button:hover{
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
}


.link{
  color: var(--font-hover-purple-secondary);
  text-decoration: none;
  font-size: 1rem;
}