
.headerContainer{
    width: 100vw;
    min-height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: var(--main-bg);
    border-bottom: 2px solid white;
}



.title{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin: 20px;
    letter-spacing: 1px;
}

.userContainer{
    display: flex;
    height: 40px;
    position: relative;
    right: 50px;
    height: 11vh;
    display: flex;
    align-items: center;
    
}


.user_p{
    position: absolute;
    right: 25px;
    top: 0px;
    font-size: 0.8rem;
    margin: 10px;
    z-index: 100;

}


.Link{
    color: black;
    text-decoration: none;
    margin: 0px 20px;
    font-size: 1.2rem;
    position: relative;
    top: 10px;
}


.link{
    margin: 0px 5px;
    color: grey;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.link:hover{
    color: var(--font-hover-purple-secondary);
    cursor: pointer;
}

.icon{
    margin: 0px 5px 0px 8px;
    position: relative;
    top: 3px;
    font-size: 1.3rem;
}
.icon:hover{
    transition: 0.4s ease;
    color: var(--font-hover-purple-secondary);
}


@media screen and (max-width: 1300px){

    .headerContainer{
        min-height: 10vh;
    }


   
}

@media screen and (max-width: 800px){
     .userContainer{
        right: 5px;
    }
}

@media screen and (max-width: 600px){


    .headerContainer{
        flex-direction: column;

    }


    .title{
        font-size: 1.7rem;
        position: relative;
        top: 30px;
        margin: 8px 0px;
    }

    .userContainer{
        right: 0;
        top: 10px;
        height: 50px;

    }

    .Link{
        margin: 0 20px;

    }

    .icon{
        font-size: 1.3rem;
    }

    .user_p{
        position: absolute;
        left: 5px;
        top: 0px;
    }
}

@media screen and (max-width: 400px){

   
    .userContainer{
        top: 0px;
       
    
    }

    .title{
        margin-bottom: 20px;
    }


    .Link{
       
        margin:  0px 15px;
        position: relative;
        top: 5px;
    }

    .icon{
        font-size: 1.1rem;
       
    }

    .sumQuantities{
        
        font-size: 0.8rem;
    }
}