

.backgroundContainer{
  background-color: #F9E7E7;
  min-height: 100vh;
  width: 100vw;
}


.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin-bottom: 0px;
  position: relative;
}


.background_video{
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  opacity: 1;
  opacity: 0.1;
   
}


.openMobilenav_btn{
    display: none;
  }

@media screen and (max-width: 800px){

  .flex{
    position: relative;
    top: 2px;
    height: 30px;

  }


  .openMobilenav_btn{
    display: inline-block;
    border: none;
    border-bottom: 1px solid black;
    width: 100vw;
    height: 30px;
    background-color: transparent;
    font-size: 1rem;
    padding-bottom: 5px;
    cursor: pointer;
    z-index: 1000;
  }
}