

.logonField{
    display: flex;
    padding: 10px;
    min-height: 75vh;
}

.newsletterContainer, .registerContainer, .loginContainer{
    width: 35%;
    min-height: 50vh;
    margin: 0px 10px;
}





.loginForm, .newsletterForm, .registrationForm{
    display: flex;
    flex-direction: column;

}

.loginForm label, .newsletterForm label{
    display: none;
}

.loginForm input, .newsletterForm input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin: 20px 10px 10px 10px;
}

.loginForm input:focus, .newsletterForm input:focus{
    outline: none;
 
}

.loginForm button, .newsletterForm button{
    margin: 10px 0px;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;

   
}

.forgotPasswordLink{
    margin: 11px;
}




.registerContainer{
    margin: 0px 20px;
}



.loginForm button:hover, .newsletterForm button:hover, .registerContainer button:hover{
    transition: 0.4s ease;
    background-color: rgba(255, 255, 255, 0.3);

}


.error_msg, .success_msg{
    color: red;
    font-size: 1.1rem;
    margin: 5px 10px;
    padding: 0;
    opacity: 0.8;
}

.success_msg{
    color: green;
}





@media screen and (max-width: 1000px){

    .logonField{
        flex-direction: column;
        margin: 0;
    }

    .newsletterContainer, .registerContainer, .loginContainer{
        width: 100%;
        margin: 10px 0px;
        padding: 5px;
        position: relative;
        left: -6px;
        background-color: rgba(255,255,255, 0.3);
        box-shadow: 0px 3px 5px grey;
    }


    .registerContainer h1, .loginContainer h1{
        padding-left: 20px;
    }
}

